body{
    margin: 0;
    padding: 0;
}
.contenedor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.encabezado{
    flex: 1 auto;
    display: flex;
    flex-wrap: nowrap;
    background: #170d4adb;
    
}
    
    .inicio,.quienes,.historia{
        flex: 1 auto;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }    
    .cerrar{
        flex: 2 auto;
        text-align: end;
        margin: auto 0px;
        padding-right: 30px;
    }
    .encabezado div.item:hover{
        background: orange;
        transition: 2s;
    }
    div a{
        text-decoration: none;
        color: white;
    }

div.minimizar{
    display: none;

}

.section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}    
    .lado1{
        flex: 1 60%;
        
    }
    
.aside{
    flex: 1 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.section2{
    flex-grow: 1;
    flex-basis: auto;
    display: flex;
}
    .section2 article{
        flex-grow: 1;
        padding: 30px;

    }
.footer{
    flex: 1 auto;
    text-align: center;
}    

    .section-contacto{
        flex-grow: 1; /*es lo mismo flex 1 1 auto o 1 auto*/
        flex-basis: 100%;
        display: flex;

    }
    .gmail{
        flex: 1 auto;
    }
    .telefono{
        flex: 1 auto;
    }
    .medios_de_pago{
        flex: 1 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .medios_de_pago div{
        flex: 1 auto;
    }
    
    .medios_de_pago div img{
        width: 70px;
        height: 70px;
        
    }
@media (max-width:768px){
    .encabezado{
        flex-direction: column;
    }
    
    .cerrar{
        /* text-align: center; */
        padding: 0;        
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        

    }
    div.minimizar{
        text-align: center;
        display: inline-block;
        
    }
    div.minimizar button{
        height: 30px;
        color: white;
        background: transparent;
        border: 0;
    }
    .ocultar{
        display: none ;
    }
    .aside{
        display: none;
    }
}